In [7]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame({'A' : range(1,11), 'B' : np.random.randn(10)})
df

    A         B
0   1  1.213448
1   2  1.177369
2   3  0.103614
3   4 -0.867637
4   5 -0.565436
5   6 -0.742775
6   7  1.399517
7   8 -0.943715
8   9 -1.566388
9  10 -0.251149

In [11]:
df.assign?

In [24]:
df.assign(ln_A = lambda x : np.log(x.A))
# df["ln_A"] = np.log(df.A)

    A         B      ln_A
0   1  1.213448  0.000000
1   2  1.177369  0.693147
2   3  0.103614  1.098612
3   4 -0.867637  1.386294
4   5 -0.565436  1.609438
5   6 -0.742775  1.791759
6   7  1.399517  1.945910
7   8 -0.943715  2.079442
8   9 -1.566388  2.197225
9  10 -0.251149  2.302585

In [13]:
pd.qcut?

In [14]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

[good, good, medium, bad, bad]
Categories (3, object): [good < medium < bad]

In [16]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"])

0       bad
1       bad
2    medium
3      good
4    medium
5      good
6       bad
7      good
8      good
9    medium
Name: B, dtype: category
Categories (3, object): [good < medium < bad]

In [21]:
df.max(axis=0)

A    10.000000
B     1.399517
dtype: float64

In [19]:
df

    A         B
0   1  1.213448
1   2  1.177369
2   3  0.103614
3   4 -0.867637
4   5 -0.565436
5   6 -0.742775
6   7  1.399517
7   8 -0.943715
8   9 -1.566388
9  10 -0.251149

In [26]:
df["A"].clip(lower=2,upper=8)

0    2
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    8
9    8
Name: A, dtype: int64

In [28]:
df["B"].abs()

0    1.213448
1    1.177369
2    0.103614
3    0.867637
4    0.565436
5    0.742775
6    1.399517
7    0.943715
8    1.566388
9    0.251149
Name: B, dtype: float64